@font-face {
  font-family: "Ubuntu";
  src: url("https://erneuerbar-augsburg.ddns.net/CSS/fonts/ubuntu.woff");
}

body {
  margin: 0;
  font-family: Ubuntu;
}

.content {
  width: 92vw;

  margin: 1em auto;

  font-size: 1.4em;
}

@media (orientation: landscape) {
  .content {
    width: 68vw;

    margin: 1em auto;

    font-size: 1em;
  }
}

#test {
  display: none;
}

#info {
  color: #555;
  line-height: 1.2;
  margin-bottom: 1vw;
}

p {
  font-size: 2em;
  line-height: 1.5;
  margin: 0;
}

a:link {
  text-decoration: none;
  color: #11d;
}

#results {
  font-size: 2em;

  margin: 1em auto;

  border-collapse: collapse;
}

#results tr *:nth-child(1) {
  padding: 0 0.8em 0 0;
  border-right: 1px solid black;
}

#results tr *:nth-child(2) {
  padding: 0 0 0 0.8em;
}

#results th {
  font-size: 1.2em;
  font-weight: bold;
  border-bottom: 1px solid black;
}
