body {
  margin: 0;
}

.footer {
  display: block;

  width: 94vw;

  margin: 1rem auto;

  font-size: 1.2rem;
}

.dragContainer {
  position: relative;

  width: 94vw;

  margin: 1rem auto;

  font-size: 1.2rem;

  cursor: grab;
}

.dragContainer > div {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: flex-start;

  position: relative;

  top: 0;

  background: #fff;

  box-shadow: 0 0 0.08em 0 black;

  transition: top 140ms ease-out;
}

.dragContainer > .active {
  z-index: 8;

  background: #0ff;

  transition: none;

  cursor: grabbing;
}

.dragContainer > div > span {
  display: block;

  padding: 0.5em;

  word-break: break-word;
}

.mobile {
  display: none;
}

@media (min-width: 20rem) {
  .footer {
    width: 20rem;
  }

  .dragContainer {
    width: 20rem;
  }
}

@media (pointer: coarse) {
  .dragContainer > div > span {
    padding: 0.5em 0.5em 0.5em 0;
  }

  .mobile {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    flex: 0 0 1.4em;

    padding: 0 0.3em;

    touch-action: none;
  }

  .mobile img {
    height: 0.9em;
  }
}
